@model Data.Models.Telefono

@{
    ViewData["Title"] = "Personas";
}

<h1>Crear telefono</h1>

<form asp-action="Create" method="post" class="my-2">
    <div class="form-group">
        <label>Numero</label>
        <input type="number" asp-for="Numero" class="form-control" />
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>
    @Html.Hidden("PersonaId", ViewData["PersonaId"])

    <button class="btn btn-primary mt-2" type="submit">Guardar</button>
</form>

<a class="btn btn-primary" asp-action="Index" asp-route-id="@ViewData["PersonaId"]">Volver</a>
